.drag-drop {
  display: flex;
  width: 100%;
  gap: 16px;
  height: 85%;
  overflow: hidden;
}

.column {
  display: flex;
  list-style: none;
  width: 362px;
  flex-direction: column;
  gap: 0.5rem;
  padding: 24px;
  background-color: #EEF2F5;
  border-radius: 8px;
  overflow: hidden auto;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}